.FiltrosContainer {
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.Filtro1Cont{
    width: 100%;
    display: flex;
}

.Filtro1 {
    width: 85%;
    height: 32px;
    display: flex;
    gap: 10px;
}
.detailsCont{
    cursor: pointer;
    width: 15%;
    color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap:10px;
    font-weight: 500;
}

.Filtro2Cont {
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}

.Filtro2{
    display: flex;
    gap: 10px;
}

.detalles{
    margin: 0;
}